In [1]:
import numpy as np
import pandas as pd
# Задаем формат отображения чисел с плавающей точкой
pd.options.display.float_format ='{:,.2f}'.format

In [2]:
# Загружаем данные
df = pd.read_csv(r'C:\Users\sepa\Desktop\orders_20190822.csv', sep=';')
# Заменяем типы данных на подходящие
df['price'] = df['price'].replace(',','.', regex=True).astype('float')
df['o_date'] = pd.to_datetime(df['o_date'], dayfirst=True)
df.dtypes

id_o                int64
user_id             int64
price             float64
o_date     datetime64[ns]
dtype: object

In [3]:
df

            id_o  user_id    price     o_date
0        1234491   337544   539.00 2016-01-01
1        1234494   171642   153.30 2016-01-01
2        1234497   260596    55.30 2016-01-01
3        1234498  1105609   752.50 2016-01-01
4        1234500   982696 4,410.00 2016-01-01
...          ...      ...      ...        ...
2002799  6945524  5806002   825.30 2017-12-31
2002800  6945526  5919142 4,934.30 2017-12-31
2002801  6945527  1574166   804.30 2017-12-31
2002802  6945528  5919156 5,019.70 2017-12-31
2002803  6945534  4801083   679.70 2017-12-31

[2002804 rows x 4 columns]

Проверка на пустые значения

In [4]:
df.count()

id_o       2002804
user_id    2002804
price      2002804
o_date     2002804
dtype: int64

 ### Проанализировать, какой период данных выгружен

In [5]:
print(df['o_date'].min())
print(df['o_date'].max())

2016-01-01 00:00:00
2017-12-31 00:00:00

### Посчитать кол-во строк, кол-во заказов и кол-во уникальных пользователей, кот совершали заказы.

In [6]:
print('Количество строк: ', len(df))
print('Количество заказов: ', len(df['id_o'].unique()))
print('Количество покупателей: ', len(df['user_id'].unique()))

Количество строк:  2002804
Количество заказов:  2002804
Количество покупателей:  1015119

#### По годам посчитать средний чек, среднее кол-во заказов на пользователя, сделать вывод , как изменялись это показатели Год от года.

In [7]:
a = df.groupby([df['o_date'].dt.year, ])['user_id'].nunique()
b = df.groupby([df['o_date'].dt.year, ])['price'].sum()
print(a)
print(b)

o_date
2016    445092
2017    654894
Name: user_id, dtype: int64
o_date
2016   1,805,022,652.64
2017   2,737,664,788.60
Name: price, dtype: float64

In [8]:
print('Средний чек: ', b/a)

Средний чек:  o_date
2016   4,055.39
2017   4,180.32
dtype: float64

In [9]:
c = df.groupby([df['o_date'].dt.year, ])['id_o'].count()
print(c)

o_date
2016     861346
2017    1141458
Name: id_o, dtype: int64

In [10]:
print('Среднее количество заказов: ', c/a)

Среднее количество заказов:  o_date
2016   1.94
2017   1.74
dtype: float64

ВЫВОД: В среднем в 2017 году каждый покупатель стал покупать на большую сумму

### Найти кол-во пользователей, кот покупали в одном году и перестали покупать в следующем.

In [11]:
d = df.groupby([df['o_date'].dt.year, ])['user_id'].unique()
s1 = set(d[2016])
s2 = set(d[2017])
print('Количество переставших покупать в следующем году: ', len(s1-s2))

Количество переставших покупать в следующем году:  360225

### Найти ID самого активного по кол-ву покупок пользователя.

In [12]:
e = df.groupby(df['user_id'])['id_o'].count()
print('Самый активный покупатель: ', e[e==e.max()].index[0])

Самый активный покупатель:  765861

### Найти коэффициенты сезонности по месяцам

In [13]:
f = df.groupby([df['o_date'].dt.month])['price'].sum()
print(f/f.mean())

o_date
1    0.72
2    0.68
3    0.87
4    0.89
5    0.86
6    0.80
7    0.79
8    0.91
9    0.96
10   1.30
11   1.54
12   1.67
Name: price, dtype: float64